body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
    color: #445361
}

.headder {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

.game-area {
    background-color: #E6ECF0;
    box-shadow: 0px 0px 10px grey;
    box-sizing: border-box;
    width: 85%;
    height: 85%;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 3%;
}

.sum-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 4%;
}

#color1 {
    padding: 5%;
    border: 0.5px black solid;
    display: flex;
    justify-content: center;
}

#operator {
    font-size: 100px;
    display: flex;
    justify-content: center;
}

#color2 {
    padding: 5%;
    border: 0.5px black solid;
    display: flex;
    justify-content: center;
}

#equal {
    font-size: 100px;
    display: flex;
    justify-content: center;
}

#answer {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.submit {
    background-color: rgb(205, 205, 255);
    padding: 2%;
    box-shadow: 0px 0px 10px rgb(148, 148, 148);
    margin: 4%;
}

.submit:hover {
    font-weight: bold;
    background-color: rgb(215, 215, 255);
    padding: 2%;
    box-shadow: 0px 0px 10px rgb(54, 54, 54);
}

.score-area {
    margin: 0;
}

.scores {
    display: inline-block;
    padding: 25px;
}

#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

@media (max-width: 800px) {

    #operator {
        font-size: 50px;
    }

    #equal {
        font-size: 50px;
    }

}

@media (max-width: 400px) {

    #operator {
        font-size: 35px;
    }

    #equal {
        font-size: 35px;
    }

}
@media (max-width: 400px) {

    #operator {
        font-size: 25px;
    }

    #equal {
        font-size: 25px;
    }
}