body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
    color: #445361
}

.headder {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

.game-area {
    
}

.sum-area {

}

#color1 {
    border: 2mm black solid;
}

#operator {
    font-size: 500%;
}

#color2 {
    width:100px;
    height: 100px;
    border: 2mm black solid;
}

#equal {
    font-size: 500%;
}

.answer-message {

}

#answer-box {

}

.btnsubmit {

}

.score-area {

}

.scores {

}

#correct {

}

#incorrect {

}
